table {
  border-collapse: collapse;
  border: 5px solid black;

  counter-reset: schetchik;
}
td {
  background: black;
  width: 100px;
  height: 100px;
  color: white;
  text-align: center;
}
tr {
  height: 100px;
  width: 100px;
}
tr:nth-child(odd) td:nth-child(odd) {
  background: white;
  color: black;
}

tr:nth-child(even) td:nth-child(even) {
  background: white;
  color: black;
}
.list {
  list-style: none;
  counter-reset: list 65;
}
td::before {
  counter-increment: list -1;
  content: counter(list) "";
  font-size: 76px;
}
